body { 
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: #3D3D3F;
    background-color: #E5E5E5;;
}

.container {
    max-width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}

.btn {
    background-color:#40A3F8;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

.menu-item:hover {
    cursor: pointer;
}